.blocks {
    display: inline-block;
}

#logoSvg {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fill 1.5s ease forwards 2.5s;
}

#logoSvg path:nth-child(1){
    stroke-dasharray:  214;
    stroke-dashoffset: 214;
    animation: line-anim 2s ease forwards;
}

#logoSvg path:nth-child(2){
    stroke-dasharray:  283.73;
    stroke-dashoffset: 283.73;
    animation: line-anim 2s ease forwards 0.3s;
}

#logoSvg path:nth-child(3){
    stroke-dasharray:  283.78;
    stroke-dashoffset: 283.78;
    animation: line-anim 2s ease forwards 0.6s;
}

#logoSvg path:nth-child(4){
    stroke-dasharray:  214.9;
    stroke-dashoffset: 214.9;
    animation: line-anim 2s ease forwards 0.9s;
}

#logoSvg path:nth-child(5){
    stroke-dasharray:  268;
    stroke-dashoffset: 268;
    animation: line-anim 2s ease forwards 1.2s;
} 


#logoSvg path:nth-child(6){
    stroke-dasharray:  138.49;
    stroke-dashoffset: 138.49;
    animation: line-anim 2s ease forwards 0.9s;
}


#logoSvg path:nth-child(7){
    stroke-dasharray:  120.2;
    stroke-dashoffset: 120.2;
    animation: line-anim 2s ease forwards 0.2s;
}

#logoSvg path:nth-child(8){
    stroke-dasharray:  87.96;
    stroke-dashoffset: 87.96;
    animation: line-anim 2s ease forwards 0.6s;
}


#logoSvg path:nth-child(9){
    stroke-dasharray:  87.09;
    stroke-dashoffset: 87.09;
    animation: line-anim 2s ease forwards 0.9s;
}


#logoSvg path:nth-child(10){
    stroke-dasharray:  168.17;
    stroke-dashoffset: 168.17;
    animation: line-anim 2s ease forwards 1.2s;
}

#logoSvg path:nth-child(11){
    stroke-dasharray:  172.17;
    stroke-dashoffset: 172.17;
    animation: line-anim 2s ease forwards 1.5s;
}


#logoSvg path:nth-child(12){
    stroke-dasharray:  100;
    stroke-dashoffset: 100;
    animation: line-anim 2s ease forwards 1.8s;
}

#logoSvg path:nth-child(13){
    stroke-dasharray:  149.3;
    stroke-dashoffset: 149.3;
    animation: line-anim 2s ease forwards 2.1s;
}

#logoSvg path:nth-child(14){
    stroke-dasharray:  130;
    stroke-dashoffset: 130;
    animation: line-anim 2s ease forwards 2.4s;
}

#logoSvg path:nth-child(15){
    stroke-dasharray:  127.88;
    stroke-dashoffset: 127.88;
    animation: line-anim 2s ease forwards 2.4s;
}

#logoSvg path:nth-child(16){
    stroke-dasharray:  199.7;
    stroke-dashoffset: 199.7;
    animation: line-anim 2s ease forwards 2.4s;
}

#logoSvg path:nth-child(17){
    stroke-dasharray:  149.35;
    stroke-dashoffset: 149.35;
    animation: line-anim 2s ease forwards 2.1s;
}

#logoSvg path:nth-child(18){
    stroke-dasharray:  117.88;
    stroke-dashoffset: 117.88;
    animation: line-anim 2s ease forwards 1.8s;
}

#logoSvg path:nth-child(19){
    stroke-dasharray:  149.34;
    stroke-dashoffset: 149.34;
    animation: line-anim 2s ease forwards 1.5s;
}

#logoSvg path:nth-child(20){
    stroke-dasharray:  149.35;
    stroke-dashoffset: 149.35;
    animation: line-anim 2s ease forwards 1.2s;
}

#logoSvg path:nth-child(21){
    stroke-dasharray:  111;
    stroke-dashoffset: 111;
    animation: line-anim 2s ease forwards 0.9s;
}

#logoSvg path:nth-child(22){
    stroke-dasharray:  138.49;
    stroke-dashoffset: 138.49;
    animation: line-anim 2s ease forwards 0.6s;
}


#logoSvg path:nth-child(23){
    stroke-dasharray:  124.29;
    stroke-dashoffset: 124.29;
    animation: line-anim 2s ease forwards 0.3s;
}

@keyframes line-anim {
    to {
        stroke-dashoffset : 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }

    to {
        fill: #64ffd9;
    }
}


* {
    margin: 0;
    padding: 0;
}

body {
    background: #0A122A;
}

/* Let's style the wrapper in such away that,
it should always be at the center of the browser */
.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
}

/* Style the Un-order list by setting its list-style to none */
.wrapper ul {
    list-style: none;
}

/* Style the list items inside the UL list, by setting its width, height and line-height
  and float them to left and set its border and border-radius.
 */
.wrapper ul li {
    width: 75px;
    height: 75px;
    line-height: 75px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid #D8E2DC;
    float: left;
    transition: all 0.5s ease;
}

/* Style the icons by setting its color and margin-top value to 20px
to align it properly */
.wrapper ul li .fa {
    color: #D8E2DC;
    margin-top: 20px;
    transition: all 0.5s ease;
}

/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
  to icons for glowing effect and use transition property for smooth transition effect. */
/*facebook*/
.wrapper ul li:hover.facebook {
    border: 5px solid #3b5998;
    box-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
    color: #3b5998;
    text-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
}

/*twitter*/
.wrapper ul li:hover.twitter {
    border: 5px solid #00aced;
    box-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitter {
    color: #00aced;
    text-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
}

/* instagram */
.wrapper ul li:hover.instagram {
    border: 5px solid #bc2a8d;
    box-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
    color: #bc2a8d;
    text-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
}

/* google */
.wrapper ul li:hover.google {
    border: 5px solid #dd4b39;
    box-shadow: 0 0 15px #dd4b39;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-google {
    color: #dd4b39;
    text-shadow: 0 0 15px #dd4b39;
    transition: all 0.5s ease;
}

/* whatsapp */
.wrapper ul li:hover.whatsapp {
    border: 5px solid #4dc247;
    box-shadow: 0 0 15px #4dc247;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-whatsapp {
    color: #4dc247;
    text-shadow: 0 0 15px #4dc247;
    transition: all 0.5s ease;
}


/* media queries */

@media screen and (max-width: 640px){
    .wrapper {
        width: 350px;
    }
    .wrapper ul li{
        margin-top: 10px;
    }
    .wrapper ul li.google{
        margin-left: 60px;
    }
}


@media screen and (max-width: 340px){
    .wrapper {
        width: 150px;
    }
    .wrapper ul li{
        margin:15px;
    }
    .wrapper ul li.google{
        margin-left: 15px;
    }
}

/* youtube link */
.youtube{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 160px;
    text-align: center;
    padding: 15px 10px;
    background: #bb0000;
    border-radius: 5px;
}

.youtube a{
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 1px;
}