body {
    background-color: #0A192F;
}

.phraseSoon {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Poppins', sans-serif;   
    font-weight: 700; 
    font-size: 80px;
    color: rgb(230, 241, 255);

}




.phraseWeb {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Poppins', sans-serif;   
    font-size: 35px;
    color: rgb(230, 241, 255);

}