body {
    background-color: #09192F;
}


.logo {
    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* width: 100px; */
    /* max-width: 70%; */
}

/* svg {
    stroke-dasharray:50px;
} */